<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
 

  <link href="{{ url_for('static', filename='bootstrap_css/bootstrap.css') }}" rel="stylesheet"/>
  
  <script src="https://kit.fontawesome.com/0337b42812.js" crossorigin="anonymous"></script>

  <script src="{{ url_for('static', filename='jquery-3.7.0.js') }}"></script>

  <link href="{{ url_for('static', filename='csfavicon.png') }}" rel="shortcut icon" type="image/x-icon" />

  <link href="{{ url_for('static', filename='csfavicon.png') }}" rel="icon" type="image/x-icon" />

  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
</head>

<body class="text-center container">
  <div>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="{{ url_for('home')}}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="{{ url_for('static', filename='logovert.png') }}" class="img-thumbnail bi me-2" width="150" height="32" alt="">
        <span class="fs-4"></span>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link active me-1 mt-3" aria-current="page">Главная</a></li>

        <li class="nav-item"><a href="{{ url_for('logout') }}" class="nav-link active ms-1 mt-3" aria-current="page">Выход</a></li>
      </ul>
    </header>
  </div>
  {% block body %}{% endblock %}
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div id="load" class="modal-body my-3"></div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      $('form').submit(function () {
        $.ajax({
          url: "{{ url_for('spinner') }}",
          type: "post",
          contentType: "application/json",
          success: function (response) {
            $('#load').empty();
            $('#load').append(response.data);
          }
        });
      });
    });
  </script>
  <script src="{{ url_for('static', filename='bootstrap_css/bootstrap.css') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
</body>
</html>