{% extends 'base.html' %}

{% block title %}Цезарь Сателлит - Изменить пароль{% endblock %}

{% block body %}
<h1>Изменить пароль</h1>


    <form action="{{ url_for('edit_password', user_id=user_id) }}" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="row my-3 mx-0">
            {{ form.password }}
        </div>
        <button class="btn btn-primary" type="submit">Изменить</button>

        <a class="btn" href="{{ url_for('edit_user', user_id=user_id) }}" role="button">Назад</a>
    </form>

{% endblock %}