{% extends 'base.html' %}

{% block title %}Import to Gurtam{% endblock %}

{% block body %}
<div class="container">
<h1 class="text-center">Импорт данных на Виалон</h1>
<br>
<form method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <h3 class="text-center">Загрузить файл для импорта данных</h3>
    <p class="text-center">
    {{ form.export_file }}
        {{ form.submit }}
    </p>
</form>
<br>
<ul class="list-group" style="padding: 0 15% 1% 15%;">
    <li class="list-group-item active">Обозначения при заполнении полей ИНФО4</li>
    <li class="list-group-item list-group-item-info">0 - легковые</li>
    <li class="list-group-item list-group-item-info">1 - грузовые</li>
    <li class="list-group-item list-group-item-info">2 - спец.техника</li>
    <li class="list-group-item list-group-item-info">Если ИНФО4 заполнять не нужно, ставим один пробел.</li>
    <li class="list-group-item list-group-item-info">Группа РИСК обозначается цифрой девять в отдельном столбце РИСК, если не РИСК, оставляем пустым</li>
  </ul>
  <a href="/static/excel_template.xlsx" download="">Скачать шаблон</a>
</div>
{% endblock %}