{% extends 'base.html' %}

{% block title %}Import to Gurtam{% endblock %}

{% block body %}
<h1 class="text-center">Импорт данных на Виалон</h1>
<br>
<form method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <h3 class="text-center">Загрузить файл для импорта данных</h3>
    <p class="text-center">
    {{ form.export_file }}
        {{ form.submit }}
    </p>
</form>
<br>
<h5>0 - легковые, 1 - грузовые, 2 - спец.техника, 9 - рисковые</h5>
<a href="/static/excel_template.xlsx" download="">Скачать шаблон</a>
{% endblock %}