{% extends 'base.html' %}

{% block title %}Цезарь Сателлит - Главная {% endblock %}

{% block body %}
    <div class="container">
        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">

        <button type="button" class="btn btn-lg btn-primary btn-block"><a href="{{ url_for('export_fms4')}}" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="text-decoration: none;">Импорт на FMS4</a></button>

        <button type="button" class="btn btn-lg btn-primary btn-block"><a href="{{ url_for('remove_group')}}" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="text-decoration: none;">Удаление объектов из групп</a></button>

        <button type="button" class="btn btn-lg btn-primary btn-block"><a href="{{ url_for('update_info')}}" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="text-decoration: none;">Каркаде. Заполнение полей ИНФО</a></button>

        </div>
    </div>
{% endblock %}