{% extends 'base.html' %}

{% block title %}CS - Home page {% endblock %}

{% block body %}
    <h1 class="text-center">Main page</h1>
    <div class="container">
        <h2 class="text-center"><a href="{{ url_for('export_fms4')}}" class="link-dark">Export to FMS4</a></h2>
        <h2 class="text-center"><a href="{{ url_for('remove_group')}}" class="link-dark">Remove groups</a></h2>
        <h2 class="text-center"><a href="{{ url_for('update_info5')}}" class="link-dark">Заполнить ИНФО5</a></h2>
    </div>
{% endblock %}