{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Цезарь Сателлит - Авторизация</title>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='csfavicon.png') }}" rel="shortcut icon" type="image/x-icon" />

    <link href="{{ url_for('static', filename='csfavicon.png') }}" rel="icon" type="image/x-icon" />

    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
</head>

<body class="text-center container">
    <div>
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="{{ url_for('sign_in')}}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src="{{ url_for('static', filename='logovert.png') }}" class="img-thumbnail bi me-2" width="150"
                    height="32" alt="">
                <span class="fs-4"></span>
            </a>
        </header>
    </div>
    <div class="header-sigin">

        {% with messages = get_flashed_messages() %}
        {% if messages: %}
        {% for message in messages: %}
        <p class="flash-message bg-danger-subtle">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h1 class="h3 mb-3 font-weight-normal ">Авторизация</h1>

        <div class="form-signin">
            {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </div>
        <p class="mt-5 mb-3 text-muted">Цезарь Сателлит © {{ year }}</p>
    </div>
    <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
</body>

</html>