{% extends 'base.html' %}

{% block title %}Цезарь Сателлит - Обновление полей ИНФО{% endblock %}

{% block body %}
    <h1 class="text-center">Обновить РДДБ</h1>
<br>
<div class="container">
<form method="post" enctype="multipart/form-data">
    {% with messages = get_flashed_messages() %}
    {% if messages: %}
    {% for message in messages: %}
    <p class="flash-message bg-danger-subtle">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {{ form.csrf_token }}
    <h3 class="text-center">Загрузить файл для обноления данных</h3>
    <p class="text-center">
    {{ form.export_file }}
        {{ form.submit }}
    </p>
</form>
<br>
<ul class="list-group" style="padding: 0 15% 1% 15%;">
    <li class="list-group-item active">Перед загрузкой, проверь файл</li>
    <li class="list-group-item list-group-item-info">Имена столбцов: РДДБ, Специалист, КПП, IMEI
    </li>
    <li class="list-group-item list-group-item-info">Т.к. ячейки могут содержать формулы и другие данные, скопируй столбцы и вставь на новый лист "Только значения"</li>
    <li class="list-group-item list-group-item-info">Лист в книге должен быть только в одном экземпляре</li>
    <li class="list-group-item list-group-item-info">Сделай фильтр по IMEI, удали строки, где нет IMEI</li>
</div>
</div>
{% endblock %}