{% extends 'base.html' %}

{% block title %}Цезарь Сателлит - Обновление полей ИНФО{% endblock %}

{% block body %}
    <h1 class="text-center">Обновить РДДБ</h1>
<br>
<div class="container">
<form method="post" enctype="multipart/form-data">
    {% with messages = get_flashed_messages() %}
    {% if messages: %}
    {% for message in messages: %}
    <p class="flash-message bg-danger-subtle">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {{ form.csrf_token }}
    <h3 class="text-center">Загрузить файл для обноления данных</h3>
    <p class="text-center">
    {{ form.export_file }}
        {{ form.submit }}
    </p>
</form>
</div>
{% endblock %}